WpfApplicationJAXWSUserServiceClient/WpfApplicationJAXWSUserServiceClient/Service References/UserServiceReference/user.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.roman.epam.com/" targetNamespace="http://ws.roman.epam.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element minOccurs="0" name="epamId" type="xs:int" />
      <xs:element minOccurs="0" name="deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="levelId" type="xs:int" />
      <xs:element minOccurs="0" name="locationId" type="xs:long" />
      <xs:element minOccurs="0" name="managerId" type="xs:int" />
      <xs:element minOccurs="0" name="upsaId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userArray" final="#all">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>